name: Build and deploy to Dockerhub

on:
  push:
    branches:
      - "master"

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    steps:
      - name: "checkout the repo"
        uses: actions/checkout@v2

      - name: "Login to Dockerhub"
        uses: docker/login-action@v3
        with:
          username: ${{secrets.DOCKERHUB_USERNAME}}
          password: ${{secrets.DOCKERHUB_PASSWORD}}

      - name: Build and Push docker image.
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./docker/Dockerfile.user
          push: true
          tags: victorchrollo14/paytm-user-app:latest

      - name: verify pushed image
        run: docker pull victorchrollo14/paytm-user-app:latest

      - name: Deploy to azure vm
        uses: appleboy/ssh-actions@v1.0.3
        with:
          host: ${{secrets.SSH_HOST}}
<<<<<<< HEAD
          username: ${{secrets:SSH_USERNAME}}
          key: ${{secrets.SSH_KEY}}
          script: whoami
=======
          username: ${{secrets.SSH_USERNAME}}
          key: ${{secrets.SSH_KEY}}
          script: |
            whomai
            sudo docker ps
>>>>>>> 8dd8084 (sshing into a azure vm)
